/************ 
   GLOBAL
************/
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 250px;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.wave path {
  animation: wave-color-change ease-in-out 10s infinite;
}

i {
  font-size: 60px;
  margin-right: 10px;
}

/************
   SKILLS
************/
.skills-section {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 1200px) {
  .skills-section {
    flex-direction: column;
    gap: 30px;
  }
}

/************
  PROJECTS
************/
.project-big p {
  max-width: 60ch;
}

.projects-image {
  max-width: 800px;
  border-radius: 8px;
}

/* .carousel-caption {
  color: #fff !important;
  place-self: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.carousel-caption p {
  max-width: 60ch;
} */

/************
 ANIMATIONS
************/
@keyframes wave-color-change {
  0% {
    fill: #0099ff;
  }
  20% {
    fill: #0875bf;
  }
  40% {
    fill: #166ca6;
  }
  60% {
    fill: #0b5687;
  }
  80% {
    fill: #0977c0;
  }
  100% {
    fill: #0099ff;
  }
}
