/************ 
   GLOBAL
************/
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 250px;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.container {
  padding-right: 140px !important;
}

@media screen and (max-width: 990px) {
  .container {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

a {
  text-decoration: none !important;
}

.wave path {
  animation: wave-color-change ease-in-out 10s infinite;
}

/* Dev icons */
i {
  font-size: 60px;
  margin-right: 10px;
}

.bold {
  font-weight: 700;
}

/************
   SKILLS
************/
.skills-section {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 1200px) {
  .skills-section {
    flex-direction: column;
    gap: 30px;
  }
}

/************
  PROJECTS
************/
#projects img {
  height: 300px;
}

@media screen and (max-width: 990px) {
  #projects .container .row {
    flex-direction: column;
    gap: 20px;
  }

  #projects img {
    height: unset;
  }
}

/************
 ANIMATIONS
************/
@keyframes wave-color-change {
  0% {
    fill: #0099ff;
  }
  20% {
    fill: #0875bf;
  }
  40% {
    fill: #166ca6;
  }
  60% {
    fill: #1672af;
  }
  80% {
    fill: #0977c0;
  }
  100% {
    fill: #0099ff;
  }
}
