---
interface Props {
  maxCharacterWidth?: number;
  margin?: string;
}

const { maxCharacterWidth, margin } = Astro.props;

const maxCharacterWidthDefault = 100;
const marginDefault = "40px";
---

<div
  style={`max-width: ${maxCharacterWidth || maxCharacterWidthDefault}ch; margin: ${margin || marginDefault} 0`}
>
  <slot />
</div>
