---
import ProjectCard from "./ProjectCard.astro";
---

<div class="project-cards">
  <ProjectCard
    imageUrl="/src/assets/images/project-images/dummy-card-image.jpg"
    title="Google"
    url="www.google.com"
  />
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
</div>

<style>
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
</style>
