---
import BackgroundFilter from "../common/BackgroundFilter/BackgroundFilter.astro";
import Navbar from "../common/Navbar/Navbar.astro";
---

<main id="home">
  <BackgroundFilter />
  <Navbar />

  <div class="landing-content">
    <h1>Gail's Portfolio</h1>
    <h4>Frontend Developer with 2 years experience in the field.</h4>
  </div>
</main>

<style>
  main {
    position: relative;
    height: 95vh;
    background-image: url("/src/assets/images/home-background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .background-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  .landing-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    z-index: 1;
    color: white;
  }

  h1 {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 300;
    font-size: 5rem;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }
</style>
