---
import BackgroundFilter from "../common/BackgroundFilter/BackgroundFilter.astro";
import Navbar from "../common/Navbar/Navbar.astro";
---

<main id="home">
  <BackgroundFilter />
  <Navbar />

  <div class="landing-content">
    <h1>Hey! I'm Gail.</h1>
    <h4>Front-End Developer with 2 years experience.</h4>
  </div>
</main>

<style>
  main {
    position: relative;
    height: 98vh;
    background-image: url("/images/home-background-2.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .landing-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    z-index: 1;
    color: white;
    padding: 0 10px;
  }

  h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 6rem;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }

    h4 {
      font-size: 1.1rem;
      text-align: center;
    }
  }
</style>
