---
interface Props {
  fontSize?: string;
}
---

<p style={`font-size: ${Astro.props.fontSize || "1.1rem"}`}>
  <slot />
</p>

<style>
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primary-color);
  }
</style>
