---
import Footer from "../components/common/Footer/Footer.astro";
import H1 from "../components/common/Typography/Headings/H1.astro";
import Paragraph from "../components/common/Typography/Paragraph/Paragraph.astro";
import SpanBold from "../components/common/Typography/Spans/SpanBold/SpanBold.astro";
import TextBlock from "../components/common/Typography/TextBlock/TextBlock.astro";
import HomeLanding from "../components/HomeLanding/HomeLanding.astro";
import ProjectCards from "../components/Projects/ProjectCards/ProjectCards.astro";
import { projects } from "../data/projects.js";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Home Section -->
  <HomeLanding />

  <div class="container">
    <!-- Projects Section -->
    <section id="projects">
      <H1>Projects</H1>
      <ProjectCards data={projects} />
    </section>

    <!-- About Section -->
    <section id="about">
      <H1>About</H1>

      <TextBlock maxCharacterWidth={100}>
        <Paragraph>
          I'm a <SpanBold>frontend developer</SpanBold> who builds fast, responsive,
          and visually appealing web applications with <SpanBold
            >React and Next.js</SpanBold
          >.
        </Paragraph>

        <Paragraph>
          I'm passionate about transforming complex problems into intuitive,
          performant, and accessible user experiences.
        </Paragraph>
      </TextBlock>

      <TextBlock maxCharacterWidth={100}>
        <Paragraph>
          My <SpanBold>foundation in both frontend and backend</SpanBold> technologies
          allows me to effectively bridge the gap between design and implementation,
          working collaboratively to bring ideas to life.
        </Paragraph>
      </TextBlock>

      <TextBlock maxCharacterWidth={100}>
        <Paragraph>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
          consequuntur dolor soluta, ullam asperiores accusamus quo dolorum
          vero. Blanditiis, quibusdam? Iste cupiditate molestiae ea impedit.
          Voluptatem debitis, eaque, perferendis deserunt aut maxime magni optio
          alias commodi ipsam odio laudantium sit culpa, libero pariatur unde
          quibusdam! Quo unde blanditiis totam obcaecati incidunt modi corrupti
          excepturi, quod vero delectus error alias placeat dolorum, facere
          nulla, repellendus deleniti. Inventore explicabo perferendis sint
          repudiandae quod, laudantium hic molestiae. Dolore nam laudantium
          nostrum molestiae error quam debitis eum aliquam esse quos
          necessitatibus amet earum libero temporibus nobis soluta, ducimus
          fugit, similique iste ea eius! Ipsam.
        </Paragraph>
      </TextBlock>
    </section>
  </div>

  <Footer />
</Layout>

<style>
  h1 {
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }

  .text-block {
    padding-bottom: 10px;
  }
</style>
