---
import Container from "../components/common/Container/Container.astro";
import Footer from "../components/common/Footer/Footer.astro";
import H1 from "../components/common/Typography/H1.astro";
import Paragraph from "../components/common/Typography/Paragraph.astro";
import SpanBold from "../components/common/Typography/Spans/SpanBold/SpanBold.astro";
import TextBlock from "../components/common/Typography/TextBlock/TextBlock.astro";
import HomeLanding from "../components/HomeLanding/HomeLanding.astro";
import ProjectCards from "../components/Projects/ProjectCards/ProjectCards.astro";
import SkillWall from "../components/SkillWall/SkillWall.astro";
import { projects } from "../data/projects.ts";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Home Section -->
  <HomeLanding />

  <Container>
    <!-- About Section -->
    <section id="about">
      <H1>About</H1>

      <TextBlock>
        <Paragraph>
          I'm a <SpanBold>Front-End developer</SpanBold> who builds fast, responsive,
          and visually appealing websites and web apps with <SpanBold
            >React and Next.js.</SpanBold
          >
        </Paragraph>

        <Paragraph>
          I have a <SpanBold>foundation in both Front-End and Back-End</SpanBold
          >
          development, which allows me to better bridge the gap between the two sides.
        </Paragraph>
      </TextBlock>

      <SkillWall />
    </section>

    <!-- Projects Section -->
    <section id="projects">
      <H1>Projects</H1>

      <TextBlock>
        <Paragraph>
          Here are some of the projects I've worked on, showcasing my skills in
          Front-End development. Check out my <a
            href="https://github.com/GailCodes"
            target="_blank">GitHub</a
          > for the source code.</Paragraph
        >
      </TextBlock>
      <ProjectCards data={projects} />
    </section>
  </Container>

  <Footer />
</Layout>
