<nav>
  <ul><li><a href="#home">Home</a></li></ul>
  <ul><li><a href="#projects">Projects</a></li></ul>
  <ul><li><a href="#about">About</a></li></ul>
</nav>

<style>
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: #fff;
    height: 60px;
    z-index: 2;
  }

  nav ul {
    list-style: none;
  }

  nav a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;

    letter-spacing: 2px;
    text-decoration: none;
  }

  nav a:hover {
    color: #4dc04d;
  }
</style>
