---
import {
  backendSkills,
  frontendSkills,
  toolsSkills,
} from "../../data/skill-icons";
import SkillWallSection from "./SkillWallSection.astro";
---

<div class="skill-wall">
  <SkillWallSection title="Front-End" icons={frontendSkills} color="#191919" />
  <SkillWallSection title="Back-End" icons={backendSkills} color="#252525" />
  <SkillWallSection title="Tools" icons={toolsSkills} color="#303030" />
</div>

<style>
  .skill-wall {
    position: relative;
    border-radius: 20px;
  }
</style>
